<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1028679435211-c9gbpd7g28q74meivbdri37dgn57geqb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1028679435211-c9gbpd7g28q74meivbdri37dgn57geqb</string>
	<key>API_KEY</key>
	<string>AIzaSyBrxmezD4Rgf8tfMpRnVLcPwjAXLjWi5Y8</string>
	<key>GCM_SENDER_ID</key>
	<string>1028679435211</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>yong.MyPedia</string>
	<key>PROJECT_ID</key>
	<string>mypedia-bcd21</string>
	<key>STORAGE_BUCKET</key>
	<string>mypedia-bcd21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:1028679435211:ios:ae96ecac7f9619ad84ac4e</string>
</dict>
</plist>
